:root {
  --background: #f5f5f5;
  --background-secondary: rgba(220, 220, 220, 0.5);
  --background-item: #fff;
  --text-primary: #222;
  --text-secondary: #666;
  --accent: #222;
  --accent-text: #fff;
}
[data-theme='dark'] {
  --background: rgb(29, 29, 29);
  --background-secondary: rgba(87, 87, 87, 0.5);
  --background-item: rgb(40, 40, 40);
  --text-primary: #eee;
  --text-secondary: #808080;
  --accent: #e0e0e0d6;
  --accent-text: #fff;
}

.Background {
  color: var(--text-primary);
  background-color: var(--background);
}

.App {
  color: var(--text-primary);
  background-color: var(--background);
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Recursive', 'Noto sans CJK SC', 'PT sans', 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13pt;
  min-height: 100vh;
}

pre,
code {
  background-color: var(--background-secondary);
}

input {
  padding: 0.5rem;
  margin: 0.5rem auto;
  border: 1px solid var(--accent);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 3em;
  box-sizing: border-box;
  font-size: 1em;
  background-color: var(--background);
  color: var(--text-primary);
  text-align: left;
}

.input-area {
  word-wrap: break-word;
  width: 100%;
  margin: 0;
  padding: 0.5em;
  box-sizing: border-box;
  border: 1px solid var(--accent);
  border-radius: 5px;
  font-size: 1em;
  font-family: 'Open sans', 'Noto sans CJK SC', 'Noto sans CJK JP', 'SF Mono',
    'Consolas', sans-serif;
  overflow: hidden;
  resize: none;
  background-color: var(--background);
  color: var(--text-primary);
  text-align: left;
}

.input-area:hover,
.input-area:focus {
  outline: none;
  background-color: var(--background-item);
}

.custom-file-upload {
  display: none;
}

.item {
  word-break: break-all;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: var(--background-item);
  padding: 0 0.5em;
  margin: 0.5em 0;
  overflow: hidden;
  scrollbar-width: none;
}

@media (hover: hover) and (pointer: fine) {
  .item:focus {
    box-shadow: 0 0 0 1px var(--accent);
  }
}

.item .item-text {
  white-space: pre-line;
  text-align: left;
}

.item .list {
  display: inline-flex;
  margin: 0 0 0 1rem;
  padding: 0;
  text-indent: -1rem;
}

.item img {
  object-fit: cover;
  max-height: 95%;
  border: 2px solid rgba(255, 255, 255, 0.822);
  border-radius: 5px;
}

.item img:hover {
  cursor: pointer;
}

.item .item-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item .date {
  font-size: 0.8em;
  color: var(--text-secondary);
}

.btn {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--accent) solid;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1em;
  height: 2.4em;
  min-width: 80px;
  width: 90%;
  margin: 0;
  padding: 5px 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn:hover,
.btn:focus {
  box-shadow: rgba(149, 160, 160, 0.693) 0 2px 5px 0;
}

.btn.loading {
  pointer-events: none;
  opacity: 0.5;
}
.btn-icon {
  display: inline-block;
}

.btn-icon:hover {
  cursor: pointer;
}

.btn-green {
  background-clip: padding-box;
  border-color: var(--accent);
}

.btn-green:active {
  box-shadow: rgba(90, 89, 89, 0.61) 0 2px 4px;
  transform: translateY(0);
}

.load-more {
  padding: 1em;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

.item a {
  color: var(--accent);
  text-decoration: underline;
}
